body{
    display: grid;
    place-items: center;
    height: 100vh;
}
.loginpage{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    padding: 1rem ;
}
form input{
    margin: 1rem 0rem;
}
form button{
    width: 100%;
}
.content{
    width: 70%;
}
.imgs{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.imgs img:hover{
    transform: scale(1.25);
    transition: 0.35s ease-in-out;
}
#characters-main img{
    aspect-ratio: 3/4;
}
.images{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: auto;
}
.images section{
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.images section img{
    margin-left: 3rem;
}
.images section img:hover{
    transform: scale(1.25);
    transition: 0.35s ease-in-out;
}